*{
box-sizing: border-box;
}

body{
  font-family: 'Arvo';
  background: white;
}

#sideMenu {
  min-height: 10%;
}

ul > .link1 {
  margin-left: 13.2%;
  margin-right: 1%;
  background: white;
  border-bottom: 3px solid rgba(82, 179, 217, 1);
}

 ul > .link1:hover {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

ul > .link2  {
  display: inline-block;
  background: white;
  border-bottom: 3px solid rgba(82, 179, 217, 1);
}

ul > .link2:hover {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

ul > a{
  display: inline-block;
  font-size: 0.8vw;
  color: rgba(44, 62, 80, 1);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#sideMenu a.clicked {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

#dashboardArea {
  height: auto;
  width: 100%;
}

#sideMenu > .heading > img {
  width: 40%;
  padding-left: 15%;
}

h1 {
  color: black;
  font-size: 1.0vw;
  display: block;
  font-weight: 400;
  left: 13%;
  padding-left: 15.2%;
  margin-left: 0.65%;
  margin-top: 2%;
}

hr {
    border: 0;
    height: 0;
    margin-left: 15.8%;
    margin-right: 15.8%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.News > .left1{
  display: inline-block;
  width: 16%;
  margin-left: 15.8%;
}

.News > .left2, .News > .left3, .News > .left4 {
  display: inline-block;
  width: 16%;
}

.News > .left1 > a, .News > .left2 > a , .News > .left3 > a , .News > .left4 > a  {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.News > .left1 > a > img {
  width: 100%;
  padding-top: 0.8%;
  display: inline-block;
}

.News > .left1 > a > p {
  width: 100%;
  font-size: 0.8vw;
}

.News > .left2 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 9%;
}

.News > .left2 > a > p {
  width: 100%;
  margin-left: 9%;
  font-size: 0.8vw;
}

.News > .left3 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 16%;
}

.News > .left3 > a > p {
  width: 100%;
  margin-left: 16%;
  font-size: 0.8vw;
}

.News > .left4 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 23%;
}

.News > .left4 > a > p {
  width: 100%;
  font-size: 0.8vw;
  margin-left: 23%;
}

h3 {
  color: rgba(82, 179, 217, 1);
  font-size: 1.1vw;
}


.slides {
display: inline-block;
}

.slides > .slide {
  background: white;
  opacity: 0.9;
  padding: 15px 15px;
  top: 180px;
  display: inline-block;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 100%;
}
.slides > .slide > img {
  width: 7%;
  display: inline-block;
  float: left;
}

.slides > .slide-below1 > img {
  width: 14%;
  float: left;
  left: 1%;
}

.slides > .slide-below2 > img {
  width: 14%;
  float: left;
}

.slides > .slide-below1 {
  background: white;
  opacity: 0.9;
  padding: 15px 15px;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 100%;
  margin-top: 0.3%;

}

.slides > .slide-below2 {
  background: white;
  padding: 15px 15px;
  opacity: 0.9;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0.3%;
  min-height: 100%;
}

.slides > .slide > h2, .slides > .slide-below1 > h2, .slides > .slide-below2 > h2 {
  color: black;
  font-size: 0.9vw;
  margin-top: 0px;
  margin-left: 10%;
}

.slides > .slide > p, .slides > .slide-below1 > p, .slides > .slide-below2 > p {
  color: black;
  font-size: 0.9vw;
  margin-left: 10%;
}

.slides > .slide > a{
  font-size: 0.9vw;
  display:table-cell;
  padding-left: 3.2%;
}

.slide-below1 > a {
  font-size: 0.9vw;
  display:table-cell;
  padding-left: 19.7%;
}

.slide-below2 > a {
  font-size: 0.9vw;
  display:table-cell;
  padding-left: 14.4%;
}

@media only screen and (max-width: 700px) {

  #sideMenu > .heading > img {
       min-width: 70%;
       margin-bottom: -4%;
       padding-left: 0%;
  }

    ul > .link1 {
      margin-left: -10%;
      margin-right: 1%;
      background: white;
      border-bottom: 3px solid rgba(82, 179, 217, 1);
    }

     ul > .link1:hover {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    ul > .link2  {
      display: inline-block;
      background: white;
      border-bottom: 3px solid rgba(82, 179, 217, 1);
    }

    ul > .link2:hover {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    ul > a{
      display: inline-block;
      font-size: 1.5vw;
      color: rgba(44, 62, 80, 1);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    #sideMenu a.clicked {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    #dashboardArea {
      height: auto;
      width: 100%;
    }


    h1 {
      color: black;
      font-size: 1.6vw;
      display: block;
      font-weight: 400;
      left: 13%;
      padding-left: 0%;
      margin-left: 0.65%;
      margin-top: 2%;
    }

    hr {
        border: 0;
        height: 0;
        margin-left: 15.8%;
        margin-right: 15.8%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .News > .left1{
      margin-left: 0%;
      width: 47%;
    }

    .News > .left2, .News > .left3, .News > .left4 {
      display: inline-block;
      width: 47%;
    }

    .News > .left1 > a, .News > .left2 > a , .News > .left3 > a , .News > .left4 > a  {
      text-decoration: none;
      color: black;
      display: inline-block;
    }

    .News > .left1 > a > img {
      width: 100%;
      padding-top: 0.8%;
      display: inline-block;
    }

    .News > .left1 > a > p {
      width: 100%;
      font-size: 1vw;
    }

    .News > .left2 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 8%;
    }

    .News > .left2 > a > p {
      width: 100%;
      margin-left: 9%;
      font-size: 1vw;
    }

    .News > .left3 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 0%;
    }

    .News > .left3 > a > p {
      width: 100%;
      margin-left: 0%;
      font-size: 1vw;
    }

    .News > .left4 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 8%;
    }

    .News > .left4 > a > p {
      width: 100%;
      font-size: 1vw;
      margin-left: 8%;
    }

  .slides > .slide {
    margin-left: 0;
    margin-right: 0;
  }
  .slides > .slide-below1 {
    margin-left: 0;
    margin-right: 0;
  }
  .slides > .slide-below2 {
    margin-left: 0;
    margin-right: 0;
  }

  .slide-below1 > a {
    font-size: 0.9vw;
    display:table-cell;
    padding-left: 0%;
  }
  hr{
    margin-left: 0;
    margin-right: 0;
  }

  .slide-below2 > a {
    font-size: 0.9vw;
    display:table-cell;
    padding-left: 0%;
  }

}
