*{
box-sizing: border-box;
}

body{
  font-family: 'Arvo';
  background: white;
  padding-bottom: 5%;
}

#sideMenu {
  min-height: 10%;
}

#sideMenu > .heading {
  margin-left: 15.8%;
}

section > .link1 {
  margin-right: 1%;
  display: inline-block;
  background: white;
  border-bottom: 3px solid rgba(82, 179, 217, 1);
}

 section > .link1:hover {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

section > .link2  {
  background: white;
  display: inline-block;
  border-bottom: 3px solid rgba(82, 179, 217, 1);
}

section > .link2:hover {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

section > a{
  font-size: 0.8vw;
  color: rgba(44, 62, 80, 1);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#sideMenu a.clicked {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

#dashboardArea {
  height: auto;
  width: 100%;
}

#sideMenu > .heading > img {
  width: 40%;
}

#sideMenu > .heading > h1 {
  color: black;
  font-size: 1.0vw;
  display: block;
  font-weight: 400;
  margin-top: 2%;
}

#sideMenu > .heading > hr {
    border: 0;
    height: 0;
    margin-right: 18.5%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#dashboardArea > h1 {
  color: black;
  font-size: 1.0vw;
  display: block;
  font-weight: 400;
  left: 13%;
  padding-left: 15.2%;
  margin-left: 0.65%;
  margin-top: 2%;
}

#dashboardArea > hr {
    border: 0;
    height: 0;
    margin-left: 15.8%;
    margin-right: 15.8%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.News > .left1{
  display: inline-block;
  width: 16%;
  margin-left: 15.8%;
}

.News > .left2, .News > .left3, .News > .left4 {
  display: inline-block;
  width: 16%;
}

.News > .left1 > a, .News > .left2 > a , .News > .left3 > a , .News > .left4 > a  {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.News > .left1 > a > img {
  width: 100%;
  padding-top: 0.8%;
  display: inline-block;
}

.News > .left1 > a > p {
  width: 100%;
  font-size: 0.8vw;
}

.News > .left2 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 9%;
}

.News > .left2 > a > p {
  width: 100%;
  margin-left: 9%;
  font-size: 0.8vw;
}

.News > .left3 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 16%;
}

.News > .left3 > a > p {
  width: 100%;
  margin-left: 16%;
  font-size: 0.8vw;
}

.News > .left4 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 23%;
}

.News > .left4 > a > p {
  width: 100%;
  font-size: 0.8vw;
  margin-left: 23%;
}

.slides {
  display: inline-block;
  margin-left: 16%;
}

.slides > .slide {
  width: 45%;
  display: inline-block;
  min-height: 100%;
  padding-top: -10%;
  vertical-align: top;
}
.slides > .slide > img {
  width: 35%;
  float: left;
}

.slides > .slide-below1 > img {
  width: 30%;
  float: left;
}

.slides > .slide-below2 > img {
  width: 35%;
  float: left;
}

.slides > .slide-below1 {
  width: 50%;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
}

.slides > .slide-below2 {
  background: white;
  opacity: 0.9;
  display: inline-block;
  padding-top: 1%;
  width: 40%;
  vertical-align: top;
  min-height: 100%;
}

.slides > .slide > h2, .slides > .slide-below1 > h2, .slides > .slide-below2 > h2, .slides > .slide-below3 > h2{
  color: black;
  font-size: 0.9vw;
}

.slides > .slide > h3, .slides > .slide-below1 > h3, .slides > .slide-below2 > h3, .slides > .slide-below3 > h3{
  color: rgba(82, 179, 217, 1);
  font-size: 1.1vw;
}

.slides > .slide > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 3%;
  height: 100%;
  width: 50%;
  resize: none;
}

.slides > .slide > a{
  font-size: 0.9vw;
  display: block;
  margin-left: 38%;
  padding-top: 3%;
  width: 13%;
  text-decoration: none;
}

.slides > .slide-below1 > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 3%;
  width: 40%;
  resize: none;
}

.slide-below1 > a {
  font-size: 0.9vw;
  width: 13%;
  display: block;
  margin-left: 33.3%;
  text-decoration: none;
}

.slides > .slide-below2 > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 7.4%;
  width: 55%;
  resize: none;
}


.slide-below2 > a {
  font-size: 0.9vw;
  display: block;
  width: 16%;
  margin-left: 43%;
  text-decoration: none;
}

.slides > .slide-below3 {
  width: 40%;
  display: inline-block;
  padding-top: 1%;
  margin-left: 5.1%;
  vertical-align: top;
  min-height: 100%;
}
.slides > .slide-below3 > img {
  width: 35%;
  margin-top: -4.6%;
  float: left;
}

.slides > .slide-below3 > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 7.4%;
  width: 55%;
  resize: none;
}

.slide-below3 > a {
  font-size: 0.9vw;
  display: block;
  width: 16%;
  margin-left: 43%;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {

  #sideMenu > .heading {
    margin-left: 0%;
  }

  #sideMenu > .heading > img {
       min-width: 80%;
       margin-bottom: 0%;
       padding-left: 0%;
  }

    section > .link1 {
      margin-right: 1%;
      background: white;
      border-bottom: 3px solid rgba(82, 179, 217, 1);
    }

     section > .link1:hover {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    section > .link2  {
      display: inline-block;
      background: white;
      border-bottom: 3px solid rgba(82, 179, 217, 1);
    }

    section > .link2:hover {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    section > a{
      display: inline-block;
      font-size: 2vw;
      color: rgba(44, 62, 80, 1);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    #sideMenu a.clicked {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    #dashboardArea {
      height: auto;
      width: 100%;
    }

    .News > .left1{
      margin-left: 0%;
      width: 47%;
    }

    .News > .left2, .News > .left3, .News > .left4 {
      display: inline-block;
      width: 47%;
    }

    .News > .left1 > a, .News > .left2 > a , .News > .left3 > a , .News > .left4 > a  {
      text-decoration: none;
      color: black;
      display: inline-block;
    }

    .News > .left1 > a > img {
      width: 100%;
      padding-top: 0.8%;
      display: inline-block;
    }

    .News > .left1 > a > p {
      width: 100%;
      font-size: 2vw;
    }

    .News > .left2 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 8%;
    }

    .News > .left2 > a > p {
      width: 100%;
      margin-left: 9%;
      font-size: 2vw;
    }

    .News > .left3 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 0%;
    }

    .News > .left3 > a > p {
      width: 100%;
      margin-left: 0%;
      font-size: 2vw;
    }

    .News > .left4 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 8%;
    }

    .News > .left4 > a > p {
      width: 100%;
      font-size: 2vw;
      margin-left: 8%;
    }

    .slides {
      display: block;
      margin-left: 0%;
    }

    .slides > .slide {
      width: 100%;
      display: block;
      min-height: 100%;
      padding-top: -10%;
      vertical-align: top;
    }
    .slides > .slide > img {
      width: 30%;
      float: left;
    }

    .slides > .slide-below1 > img {
      width: 30%;
      float: left;
    }

    .slides > .slide-below2 > img {
      width: 25%;
      float: left;
    }

    .slides > .slide-below1 {
      width: 100%;
      display: block;
      margin-top: 8%;
      min-height: 100%;
      vertical-align: none;
      margin-left: 0%;
    }

    .slides > .slide-below2 {
      background: white;
      opacity: 1;
      display: block;
      padding-top: 7%;
      width: 100%;
      vertical-align: top;
      min-height: 100%;
    }

    .slides > .slide > h2, .slides > .slide-below1 > h2, .slides > .slide-below2 > h2, .slides > .slide-below3 > h2{
      color: black;
      font-size: 0.9vw;
    }

    .slides > .slide > h3, .slides > .slide-below1 > h3, .slides > .slide-below2 > h3, .slides > .slide-below3 > h3{
      color: rgba(82, 179, 217, 1);
      font-size: 1.5vw;
    }

    .slides > .slide > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 3%;
      height: 100%;
      width: 50%;
      resize: none;
    }

    .slides > .slide > a{
      font-size: 1.5vw;
      display: block;
      margin-left: 34%;
      padding-top: 0%;
      width: 13%;
      text-decoration: none;
    }

    .slides > .slide-below1 > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 3%;
      width: 40%;
      resize: none;
    }

    .slide-below1 > a {
      font-size: 1.5vw;
      width: 13%;
      display: block;
      margin-left: 33.3%;
      text-decoration: none;
    }

    .slides > .slide-below2 > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 7.4%;
      width: 55%;
      resize: none;
    }


    .slide-below2 > a {
      font-size: 1.5vw;
      display: block;
      width: 16%;
      margin-left: 33%;
      text-decoration: none;
    }

    .slides > .slide-below3 {
      width: 100%;
      display: block;
      padding-top: 8%;
      margin-left: 0%;
      vertical-align: top;
      min-height: 100%;
    }
    .slides > .slide-below3 > img {
      width: 30%;
      margin-top: -4.6%;
      float: left;
    }

    .slides > .slide-below3 > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 2%;
      width: 55%;
      resize: none;
    }

    .slide-below3 > a {
      font-size: 1.5vw;
      display: block;
      width: 16%;
      margin-left: 33%;
      text-decoration: none;
    }

  #sideMenu > .heading > h1 {
    font-size: 2.5vw;
  }

  #sideMenu > .heading > hr {
      margin-right: 0%;
  }

  #dashboardArea > h1 {
    padding-left: 0%;
    font-size: 2.5vw;
    margin-left: 0%;
    margin-top: 3%;
  }

  #dashboardArea > hr {
      margin-left: 0%;
      margin-right: 0%;
  }

}
