*{
box-sizing: border-box;
}

body{
  font-family: 'Assistant';
  background: rgba(52, 73, 94, 0.1);
}

#sideMenu{
  width: 100%;
  height: 5%;
  background-image:url(../img/leaves.jpg);
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.6);
  background-position:center;
  display: inline-block;
}
ul {
  top: 10.5%;
  position: absolute;
  left: 11.5%;
  display: inline-block;
}

#sideMenu > ul > .link {
  display: inline-block;
}

ul > a{
  display: inline-block;
  color: rgba(44, 62, 80, 1);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#sideMenu a:hover {
  background: white;
  width: 80%;
  border-left: 5px solid rgba(44, 62, 80, 1);
  padding: 1.2%;
}

#sideMenu a.clicked {
  background: white;
  border-left: 5px solid rgba(44, 62, 80, 1);
  padding: 1.2%;
  width: 80%;
}

i {
  color: rgba(44, 62, 80, 1);
  font-size: 1.2rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 20px;
  position: relative;
  top: 2px;
}

#sideMenu a.clicked > i{
color: rgba(44, 62, 80, 1); /* Icon colour on click */
}

#sideMenu a:hover > i{
color: rgba(44, 62, 80, 1); /* Icon colour on hover */
}

#dashboardArea {
  height: auto;
  width: 100%;
}

.heading > h1 {
  color: black;
  font-size: 1.5vw;
  font-weight: 400;
  left: 13%;
  margin-left: 0.65%;
  top: 10px;
}

.heading > p {
  color: black;
  font-size: 0.8vw;
  margin-top: 1.3%;
  margin-left: 0.65%;
  left: 13%;
  top: 50px;
  display: inline-block;
}

.slides {
display: inline-block;
}

.slides > .slide {
  background: white;
  padding: 0 15px;
  top: 180px;
  display: inline-block;
   min-height: 100%;
  margin-top: 1%;
}
.slides > .slide > img {
  width: 5%;
  display: inline-block;
  float: left;
}

.slides > .slide-below1 {
  background: white;
  padding: 0 15px;
  top: 180px;
  height: 30vh;
  margin-top: 1%;
  margin-bottom: 1%;
}

.slides > .slide-below2 {
  background: white;
  padding: 0 15px;
  top: 180px;
  height: 30vh;
  margin-top: 1%;
  margin-bottom: 1%;
}

.slides > .slide > h1, .slides > .slide-below1 > h1, .slides > .slide-below2 > h1 {
  color: black;
  font-size: 1.2vw;
  margin-top: 0px;
}

.slides > .slide > h2, .slides > .slide-below1 > h2, .slides > .slide-below2 > h2 {
  color: black;
  font-size: 0.9vw;
  margin-top: 0px;
  margin-left: 6%;
}

.slides > .slide > p, .slides > .slide-below1 > p, .slides > .slide-below2 > p {
  color: black;
  font-size: 0.9vw;
  margin-left: 6%;
}

.slides > .slide > a, .slides > .slide-below1 > a, .slides > .slide-below2 > a {
  font-size: 0.9vw;
  margin-left: 1%;
}
