*{
box-sizing: border-box;
}

body{
  font-family: 'Arvo';
  background: white;
  padding-bottom: 5%;
}

#sideMenu {
  min-height: 10%;
}

#sideMenu > .heading {
  margin-left: 15.8%;
}
#sideMenu > .heading > img {
     max-width: 40%;
}

section > .link1 {
  margin-right: 1%;
  display: inline-block;
  background: white;
  border-bottom: 3px solid rgba(82, 179, 217, 1);
}

 section > .link1:hover {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

section > .link2  {
  background: white;
  display: inline-block;
  border-bottom: 3px solid rgba(82, 179, 217, 1);
}

section > .link2:hover {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

section > a{
  font-size: 0.8vw;
  color: rgba(44, 62, 80, 1);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#sideMenu a.clicked {
  background: white;
  border-bottom: 3px solid rgba(44, 62, 80, 1);
  padding: 0.3%;
}

#dashboardArea {
  height: auto;
  margin-right: 16%;
  margin-left: 16%;
}

#dashboardArea > #shroom > h3 {
  color: rgba(82, 179, 217, 1);
  font-size: 1.3vw;
}

#dashboardArea > #shroom > h4 {
  font-size: 0.9vw;
  margin: 0 0 0.4% 0%;
}

#dashboardArea > #shroom > p {
  font-size: 1vw;
  margin: 2% 0 1% 0%;
  cursor: pointer;
}

#sideMenu > .heading > p {
  width: 40%;
}

#sideMenu > .heading > h1 {
  color: black;
  font-size: 1.0vw;
  display: block;
  font-weight: 400;
  margin-top: 2%;
}

#sideMenu > .heading > hr {
    border: 0;
    height: 0;
    margin-right: 18.5%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#dashboardArea > h1 {
  color: black;
  font-size: 1.0vw;
  display: inline-block;
  font-weight: 400;
  margin-top: 2%;
}

#dashboardArea > hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.News > .left1{
  display: inline-block;
  width: 16%;
  margin-left: 15.8%;
}

.News > .left2, .News > .left3, .News > .left4 {
  display: inline-block;
  width: 16%;
}

.News > .left1 > a, .News > .left2 > a , .News > .left3 > a , .News > .left4 > a  {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.News > .left1 > a > img {
  width: 100%;
  padding-top: 0.8%;
  display: inline-block;
}

.News > .left1 > a > p {
  width: 100%;
  font-size: 0.8vw;
}

.News > .left2 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 9%;
}

.News > .left2 > a > p {
  width: 100%;
  margin-left: 9%;
  font-size: 0.8vw;
}

.News > .left3 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 16%;
}

.News > .left3 > a > p {
  width: 100%;
  margin-left: 16%;
  font-size: 0.8vw;
}

.News > .left4 > a > img {
  width: 100%;
  display: inline-block;
  margin-left: 23%;
}

.News > .left4 > a > p {
  width: 100%;
  font-size: 0.8vw;
  margin-left: 23%;
}

.slides {
  display: none;
}

.slides > .slide > h4 {
  font-size: 0.9vw;
  margin: 0 0 0.4% 0%;
}

.slides > .slide > p {
  font-size: 0.9vw;
  margin: 2% 0 1% 0%;
}

.slides > .slide > h4 > a{
  font-size: 0.7vw;
  width: 12%;
  text-decoration: none;
}

.slides > .slide {
  width: 100%;
  display: inline-block;
  min-height: 100%;
  padding-top: -10%;
  vertical-align: top;
}

#dashboardArea > .backBtn {
  float: right;
  display: none;
  height: 25px;
  margin-top: 2%;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #52b3d9;
  font-size: 0.9vw;
  color: white;
  cursor: pointer; /*change the cursor to the hand thing*/
  transition: 0.8s;
}

.slides > .slide-below1 > img {
  width: 30%;
  float: left;
}

.slides > .slide-below2 > img {
  width: 35%;
  float: left;
}

.slides > .slide-below1 {
  width: 50%;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
}

.slides > .slide-below2 {
  background: white;
  opacity: 0.9;
  display: inline-block;
  padding-top: 1%;
  width: 40%;
  vertical-align: top;
  min-height: 100%;
}

.slides > .slide > h2, .slides > .slide-below1 > h2, .slides > .slide-below2 > h2, .slides > .slide-below3 > h2,
.slides > .slide-below4 > h2{
  color: black;
  font-size: 0.9vw;
}

.slides > .slide > h3, .slides > .slide-below1 > h3, .slides > .slide-below2 > h3, .slides > .slide-below3 > h3,
.slides > .slide-below4 > h3{
  color: rgba(82, 179, 217, 1);
  font-size: 1.1vw;
}

.slides > .slide > a{
  font-size: 0.9vw;
  display: block;
  width: 12%;
  text-decoration: none;
}

.slides > .slide-below1 > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 3%;
  width: 40%;
  resize: none;
}

.slide-below1 > a {
  font-size: 0.9vw;
  width: 13%;
  display: block;
  margin-left: 33.3%;
  text-decoration: none;
}

.slides > .slide-below2 > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 7.4%;
  width: 55%;
  resize: none;
}


.slide-below2 > a {
  font-size: 0.9vw;
  display: block;
  width: 16%;
  margin-left: 43%;
  text-decoration: none;
}

.slides > .slide-below3 {
  width: 40%;
  display: inline-block;
  padding-top: 1%;
  margin-left: 5.1%;
  vertical-align: top;
  min-height: 100%;
}
.slides > .slide-below3 > img {
  width: 35%;
  margin-top: -4.6%;
  float: left;
}

.slides > .slide-below3 > textarea {
  color: black;
  font-size: 0.8vw;
  font-family: "Arvo";
  border: none;
  margin-left: 7.4%;
  width: 55%;
  resize: none;
}

.slide-below3 > a {
  font-size: 0.9vw;
  display: block;
  width: 16%;
  margin-left: 43%;
  text-decoration: none;
}

.slides > .slide > .links1 {
  display: inline-block;
  width: 33%;
}
.slides > .slide > .links2 {
  display: inline-block;
  width: 33%;
}
.slides > .slide > .links3 {
  display: inline-block;
  width: 33%;
}
.slides > .slide > .links4 {
  display: inline-block;
  width: 33%;
}
.slides > .slide > .links5 {
  display: inline-block;
  width: 33%;
}
.slides > .slide > .links1 > a > img {
  display: block;
  width: 25%;
  margin: 10px auto 20px;
}
.slides > .slide > .links2 > a > img {
  display: block;
  width: 30%;
  margin: 10px auto 20px;
}
.slides > .slide > .links3 > a > img {
  display: block;
  width: 50%;
   margin: 10px auto 20px;
}

.slides > .slide > .links4 > a > img {
  display: block;
  width: 60%;
  margin: 10px auto 20px;
}

.slides > .slide > .links5 > a > img {
  display: block;
  width: 30%;
  margin: 10px auto 20px;
}

.slides > .slide > .links1 > a,.slides > .slide > .links2 > a, .slides > .slide > .links3 > a, .slides > .slide > .links4 > a,
.slides > .slide > .links5 > a {
  display: block;
  font-size: 0.8vw;
  width: 100%;
  text-decoration: none;
  padding-top: 1.5%;
}

@media only screen and (max-width: 1050px) {

  #sideMenu > .heading {
    margin-left: 0%;
  }

  #sideMenu > .heading > img {
       max-width: 60%;
       margin-bottom: 0%;
       padding-left: 0%;
  }

    section > .link1 {
      margin-right: 1%;
      background: white;
      border-bottom: 3px solid rgba(82, 179, 217, 1);
    }

     section > .link1:hover {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    section > .link2  {
      display: inline-block;
      background: white;
      border-bottom: 3px solid rgba(82, 179, 217, 1);
    }

    section > .link2:hover {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    section > a{
      display: inline-block;
      font-size: 2vw;
      color: rgba(44, 62, 80, 1);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    #sideMenu a.clicked {
      background: white;
      border-bottom: 3px solid rgba(44, 62, 80, 1);
      padding: 0.3%;
    }

    #dashboardArea {
      height: auto;
      margin-right: 0%;
      margin-left: 0%;
    }

    .News > .left1{
      margin-left: 0%;
      width: 47%;
    }

    .News > .left2, .News > .left3, .News > .left4 {
      display: inline-block;
      width: 47%;
    }

    .News > .left1 > a, .News > .left2 > a , .News > .left3 > a , .News > .left4 > a  {
      text-decoration: none;
      color: black;
      display: inline-block;
    }

    .News > .left1 > a > img {
      width: 100%;
      padding-top: 0.8%;
      display: inline-block;
    }

    .News > .left1 > a > p {
      width: 100%;
      font-size: 2vw;
    }

    .News > .left2 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 8%;
    }

    .News > .left2 > a > p {
      width: 100%;
      margin-left: 9%;
      font-size: 2vw;
    }

    .News > .left3 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 0%;
    }

    .News > .left3 > a > p {
      width: 100%;
      margin-left: 0%;
      font-size: 2vw;
    }

    .News > .left4 > a > img {
      width: 100%;
      display: inline-block;
      margin-left: 8%;
    }

    .News > .left4 > a > p {
      width: 100%;
      font-size: 2vw;
      margin-left: 8%;
    }

    .slides > .slide > h4 {
      font-size: 1.6vw;
      margin: 0 0 0.4% 0%;
    }

    .slides > .slide > p {
      font-size: 1.3vw;
      margin: 1% 0 2% 0%;
    }

    .slides > .slide > h4 > a{
      font-size: 1.2vw;
      width: 12%;
      text-decoration: none;
    }

    .slides > .slide {
      width: 100%;
      display: block;
      min-height: 100%;
      padding-top: -10%;
      vertical-align: top;
    }
    .slides > .slide > img {
      width: 30%;
      float: left;
    }

    .slides > .slide-below1 > img {
      width: 30%;
      float: left;
    }

    .slides > .slide-below2 > img {
      width: 25%;
      float: left;
    }

    .slides > .slide-below1 {
      width: 100%;
      display: block;
      margin-top: 8%;
      min-height: 100%;
      vertical-align: none;
      margin-left: 0%;
    }

    .slides > .slide-below2 {
      background: white;
      opacity: 1;
      display: block;
      padding-top: 7%;
      width: 100%;
      vertical-align: top;
      min-height: 100%;
    }

    .slides > .slide > h2, .slides > .slide-below1 > h2, .slides > .slide-below2 > h2, .slides > .slide-below3 > h2{
      color: black;
      font-size: 0.9vw;
    }

    .slides > .slide > h3, .slides > .slide-below1 > h3, .slides > .slide-below2 > h3, .slides > .slide-below3 > h3{
      color: rgba(82, 179, 217, 1);
      font-size: 1.5vw;
    }

    .slides > .slide > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 3%;
      height: 100%;
      width: 50%;
      resize: none;
    }

    .slides > .slide > a{
      font-size: 1.5vw;
      display: block;
      margin-left: 34%;
      padding-top: 0%;
      width: 13%;
      text-decoration: none;
    }

    .slides > .slide-below1 > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 3%;
      width: 40%;
      resize: none;
    }

    .slide-below1 > a {
      font-size: 1.5vw;
      width: 13%;
      display: block;
      margin-left: 33.3%;
      text-decoration: none;
    }

    .slides > .slide-below2 > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 7.4%;
      width: 55%;
      resize: none;
    }


    .slide-below2 > a {
      font-size: 1.5vw;
      display: block;
      width: 16%;
      margin-left: 33%;
      text-decoration: none;
    }

    .slides > .slide-below3 {
      width: 100%;
      display: block;
      padding-top: 8%;
      margin-left: 0%;
      vertical-align: top;
      min-height: 100%;
    }
    .slides > .slide-below3 > img {
      width: 30%;
      margin-top: -4.6%;
      float: left;
    }

    .slides > .slide-below3 > textarea {
      color: black;
      font-size: 1.5vw;
      font-family: "Arvo";
      border: none;
      margin-left: 2%;
      width: 55%;
      resize: none;
    }

    .slide-below3 > a {
      font-size: 1.5vw;
      display: block;
      width: 16%;
      margin-left: 33%;
      text-decoration: none;
    }

  #sideMenu > .heading > h1 {
    font-size: 2.5vw;
  }

  #sideMenu > .heading > hr {
      margin-right: 0%;
  }

  #dashboardArea > h1 {
    padding-left: 0%;
    font-size: 2.5vw;
    display: inline-block;
    margin-left: 0%;
    margin-top: 3%;
  }

  #dashboardArea > hr {
      margin-left: 0%;
      margin-right: 0%;
  }


  .slides > .slide > .links1 {
    display: inline-block;
    width: 31%;
    padding-right: 1%;
  }
  .slides > .slide > .links2 {
    display: inline-block;
    width: 31%;
    padding-right: 1%;
  }
  .slides > .slide > .links3 {
    display: inline-block;
    width: 31%;
  }
  .slides > .slide > .links4 {
    display: inline-block;
    width: 31%;
    padding-right: 1%;
  }
  .slides > .slide > .links5 {
    display: inline-block;
    width: 31%;
    padding-right: 1%;
  }
  .slides > .slide > .links1 > a > img {
    display: block;
    width: 25%;
    margin: 10px auto 20px;
  }
  .slides > .slide > .links2 > a > img {
    display: block;
    width: 30%;
    margin: 10px auto 20px;
  }
  .slides > .slide > .links3 > a > img {
    display: block;
    width: 50%;
     margin: 10px auto 20px;
  }

  .slides > .slide > .links4 > a > img {
    display: block;
    width: 60%;
    margin: 10px auto 20px;
  }

  .slides > .slide > .links5 > a > img {
    display: block;
    width: 30%;
    margin: 10px auto 20px;
  }

  .slides > .slide > .links1 > a,.slides > .slide > .links2 > a, .slides > .slide > .links3 > a, .slides > .slide > .links4 > a,
  .slides > .slide > .links5 > a {
    display: block;
    font-size: 1.5vw;
    width: 100%;
    text-decoration: none;
    padding-top: 1.5%;
  }

  #dashboardArea > #shroom > h3 {
    color: rgba(82, 179, 217, 1);
    font-size: 2vw;
  }

  #dashboardArea > #shroom > h4 {
    font-size: 1.8vw;
  }

  #dashboardArea > #shroom > p {
    font-size: 1.8vw;
    margin: 2% 0 1% 0%;
    cursor: pointer;
  }

#dashboardArea > .backBtn {
    float: right;
    display: none;
    margin-top: 3.5%;
    height: auto;
    width: auto;
    border-radius: 10px;
    margin-right: 1.3%;
    background-color: #52b3d9;
    font-size: 1.8vw;
    color: white;
    cursor: pointer; /*change the cursor to the hand thing*/
    transition: 0.8s;
  }

}
